{% extends 'base.html' %}
{% block content %}

<h2>Mes demandes de retour</h2>

<ul>
{% for ret in returns %}
    <li>
        <a href="{% url 'returns:detail' ret.pk %}">
            Commande #{{ ret.order.pk }} - {{ ret.get_status_display }}
        </a>
    </li>
{% empty %}
    <li>Aucune demande de retour.</li>
{% endfor %}
<a href="{% url 'returns:export_csv' %}" class="btn btn-success">Exporter CSV</a>
<a href="{% url 'returns:export_pdf' %}" class="btn btn-danger">Exporter PDF</a>
</ul>

{% endblock %}